openapi: 3.1.0
info:
  title: OddsJam Fixtures Markets API
  description: 'OddsJam (OpticOdds) Sports Betting API providing real-time and historical

    odds, fixtures, players, teams, markets, sportsbooks, injuries, futures,

    grading, and streaming endpoints sourced from 100+ sportsbooks.

    Endpoints documented from the public OpticOdds developer portal

    (https://developer.opticodds.com/llms.txt). Authentication via API key

    passed as a request header or query parameter.

    '
  version: '3.0'
  contact:
    name: OddsJam / OpticOdds
    url: https://developer.opticodds.com/
servers:
- url: https://api.opticodds.com/api/v3
  description: OpticOdds v3 production API
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
tags:
- name: Markets
paths:
  /markets:
    get:
      tags:
      - Markets
      summary: List markets
      responses:
        '200':
          description: List of markets
  /markets/active:
    get:
      tags:
      - Markets
      summary: List active markets
      responses:
        '200':
          description: List of active markets
  /markets/settleable:
    get:
      tags:
      - Markets
      summary: List settleable markets
      responses:
        '200':
          description: List of settleable markets
  /market-types:
    get:
      tags:
      - Markets
      summary: List market types
      responses:
        '200':
          description: List of market types
components:
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
