openapi: 3.1.0
info:
  title: OddsJam Fixtures Streaming API
  description: 'OddsJam (OpticOdds) Sports Betting API providing real-time and historical

    odds, fixtures, players, teams, markets, sportsbooks, injuries, futures,

    grading, and streaming endpoints sourced from 100+ sportsbooks.

    Endpoints documented from the public OpticOdds developer portal

    (https://developer.opticodds.com/llms.txt). Authentication via API key

    passed as a request header or query parameter.

    '
  version: '3.0'
  contact:
    name: OddsJam / OpticOdds
    url: https://developer.opticodds.com/
servers:
- url: https://api.opticodds.com/api/v3
  description: OpticOdds v3 production API
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
tags:
- name: Streaming
paths:
  /stream/odds/{sport}:
    get:
      tags:
      - Streaming
      summary: Stream odds for a sport
      parameters:
      - in: path
        name: sport
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Server-sent stream of odds
  /stream/results/{sport}:
    get:
      tags:
      - Streaming
      summary: Stream results for a sport
      parameters:
      - in: path
        name: sport
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Server-sent stream of results
  /stream/copilot/{sport}/odds:
    get:
      tags:
      - Streaming
      summary: Stream copilot odds for a sport
      parameters:
      - in: path
        name: sport
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Server-sent copilot odds stream
components:
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
