openapi: 3.2.0
info:
  title: OddsJam Fixtures API
  description: 'OddsJam (OpticOdds) Sports Betting API providing real-time and historical

    odds, fixtures, players, teams, markets, sportsbooks, injuries, futures,

    grading, and streaming endpoints sourced from 100+ sportsbooks.

    Endpoints documented from the public OpticOdds developer portal

    (https://developer.opticodds.com/llms.txt). Authentication via API key

    passed as a request header or query parameter.'
  version: '3.0'
  contact:
    name: OddsJam / OpticOdds
    url: https://developer.opticodds.com/
servers:
- url: https://api.opticodds.com/api/v3
  description: OpticOdds v3 production API
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
tags:
- name: Fixtures
paths:
  /fixtures:
    get:
      tags:
      - Fixtures
      summary: List fixtures
      responses:
        '200':
          description: List of fixtures
      operationId: getFixtures
      x-operation-id-source: derived
  /fixtures/active:
    get:
      tags:
      - Fixtures
      summary: List active fixtures
      responses:
        '200':
          description: List of active fixtures
      operationId: getFixturesActive
      x-operation-id-source: derived
  /fixtures/odds:
    get:
      tags:
      - Fixtures
      summary: Get odds for fixtures
      responses:
        '200':
          description: Fixture odds
      operationId: getFixturesOdds
      x-operation-id-source: derived
  /fixtures/odds/historical:
    get:
      tags:
      - Fixtures
      summary: Get historical odds for fixtures
      responses:
        '200':
          description: Historical fixture odds
      operationId: getFixturesOddsHistorical
      x-operation-id-source: derived
  /fixtures/results:
    get:
      tags:
      - Fixtures
      summary: Get fixture results
      responses:
        '200':
          description: Fixture results
      operationId: getFixturesResults
      x-operation-id-source: derived
  /fixtures/results/head-to-head:
    get:
      tags:
      - Fixtures
      summary: Get head-to-head fixture results
      responses:
        '200':
          description: Head-to-head results
      operationId: getFixturesResultsHeadToHead
      x-operation-id-source: derived
  /fixtures/player-results:
    get:
      tags:
      - Fixtures
      summary: Get player results for fixtures
      responses:
        '200':
          description: Player results
      operationId: getFixturesPlayerResults
      x-operation-id-source: derived
  /fixtures/player-results/last-x:
    get:
      tags:
      - Fixtures
      summary: Get player results for the last X fixtures
      responses:
        '200':
          description: Player last-X results
      operationId: getFixturesPlayerResultsLastX
      x-operation-id-source: derived
  /fixtures/results/queue/start:
    post:
      tags:
      - Fixtures
      summary: Start fixture results queue
      responses:
        '200':
          description: Queue started
      operationId: postFixturesResultsQueueStart
      x-operation-id-source: derived
  /fixtures/results/queue/stop:
    post:
      tags:
      - Fixtures
      summary: Stop fixture results queue
      responses:
        '200':
          description: Queue stopped
      operationId: postFixturesResultsQueueStop
      x-operation-id-source: derived
  /fixtures/results/queue/status:
    get:
      tags:
      - Fixtures
      summary: Get fixture results queue status
      responses:
        '200':
          description: Queue status
      operationId: getFixturesResultsQueueStatus
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
