openapi: 3.2.0
info:
  title: OddsJam Teams API
  description: 'OddsJam (OpticOdds) Sports Betting API providing real-time and historical

    odds, fixtures, players, teams, markets, sportsbooks, injuries, futures,

    grading, and streaming endpoints sourced from 100+ sportsbooks.

    Endpoints documented from the public OpticOdds developer portal

    (https://developer.opticodds.com/llms.txt). Authentication via API key

    passed as a request header or query parameter.'
  version: '3.0'
  contact:
    name: OddsJam / OpticOdds
    url: https://developer.opticodds.com/
servers:
- url: https://api.opticodds.com/api/v3
  description: OpticOdds v3 production API
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
tags:
- name: Teams
paths:
  /teams:
    get:
      tags:
      - Teams
      summary: List teams
      responses:
        '200':
          description: List of teams
      operationId: getTeams
      x-operation-id-source: derived
  /conferences:
    get:
      tags:
      - Teams
      summary: List conferences
      responses:
        '200':
          description: List of conferences
      operationId: getConferences
      x-operation-id-source: derived
  /divisions:
    get:
      tags:
      - Teams
      summary: List divisions
      responses:
        '200':
          description: List of divisions
      operationId: getDivisions
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
